
#titulo-principal-nosotros {
    font-size: 3em;
}

#parrafo-nosotros {
    font-size: 1.3em;
}

#imagen_nosotros {
    max-width: 60%;
    height: auto;
    margin-top:70px;
    margin-left: auto;
}

#titulo-programadores {
    font-size: 2.4em;
}

.fotoProgramador {
    transition: 0.5s;
}

.fotoProgramador:hover{
    transform: scale(1.2);
}


#parrafoProgramadores {
    font-size: 20px;
}
