body {
    background-color: #020118;
    color: #ffffff;
}

.services {
    margin-top: 80pxrev;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.reviews {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.products {
    margin-top: 80pxrev;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}


.titulo {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }

  .socialIcons {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
  }
  
  .la-linkedin-in {
      padding-left: 40px;
      padding-right: 40px;
  }

  .redes {
    text-align:start;
  }

  .barra {
    color: #020118 !important
  }
 
  .item {
    color: #020118;
  }

  .conTitulo {
    height: 50vh;
  }



  .login {
    border-radius: 30px !important;
    background-color: #75ff00 !important;
    color: white !important;
    border-color: white !important;
  }
  
  .cabecera {
    background-image: url("");
    height: 70vh;
    flex-direction: column;
  }
  
  .titulo1 {
    color: white;
    height: 100%;
    text-align: center;
  }
  
  .t1,
  .t3,
  .t7 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
  }
  
  .navega, .login{
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700 !important;
  }
  .t1,
  .t2 {
    padding-bottom: 20px;
  }
  
  .t1 {
    font-size: 40px !important;
    color: white !important;
  }
  
  .t2 {
    font-size: 22px;
    color: white !important;
  }
  